<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>

<h1>Algorithms Store</h1>
<h2>Forget Password</h2>
<form th:action="success" method="post">
    <label for="nameId">Username:</label>
    <br>
    <input type="text" name="username" id="nameId"
           th:value="${username}">
    <br>
    <label for="passwordId">Password:</label>
    <br>
    <input type="password" name="password" id="passwordId" >
    <br>
    <button type="submit">Login</button>
</form>

<p th:text="${errorMsg}">Error message is here</p>

<a href="./userFindPassword">Forget your password?</a><br>
<span>New to us?</span><a href="./userRegister">Sign Up</a>
<br>
<a href="./shopkeeperLogin">Shopkeeper Login</a>



</body>
</html>